

<div class="modal fade" id="agregarHuertoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Completar datos del Huerto para continuar </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <%=form_for @huerto, url: user_campo_huertos_path(current_user,@campo), method: :post, remote: true, :html => { :id => "formAgregarHuerto" }  do |form| %>
                                  <%=form.label :nombre%>
                                  <%=form.text_field :nombre, class: "form-control textField"%>

                                  <%=form.label :cultivo%>
                                  <%=form.text_field :cultivo, class: "form-control textField"%>

                                  <%=form.label :variedades%>
                                  <%=form.text_field :variedades, class: "form-control textField"%>

                                  <%=form.label :descripcion%>
                                  <%=form.text_area :descripcion, class: "form-control textField"%>

                                  <%=form.label :clase%>
                                  <%=form.select(:clase, options_for_select([['Verde', 'green'], ['Rojo', "red"],['Amarillo', "yellow"],['Naranjo', "orange"],['Azul', "blue"]]))%>
 
                                  <!-- Aca ponemos las coordenadas del huerto, estas no seran visibles para el usuario ya que este las selecciono antes, se oculta con css -->
                                  <%=form.text_area :coordenadas, id: "coordenadasFormularioCreacionHuerto"%>
             <%end%> 
             <%=button_tag("Confirmar", class: "btn btn-success ", id: "botonConfirmarCrearHuertoFinalFormulario")%>

      </div>
    </div>
  </div>
</div>