<!-- al llamarce desde adentro del svg solo se crean los polyline asociados a los huertos -->
<%if @adentroSVG == true%>
      <polyline  id="huerto_<%=huerto.id%>" class="huertos" data-porcentajes="<%=huerto.coordenadas%>" data-clase="<%=huerto.clase%>" data-id="<%=huerto.id%>"  >   
    
       </polyline>

<!-- Si no esta dentro del svg -->
<%else%>
<!-- Modal que muestras las opciones del huerto -->
<div class="modal fade" id="modal_huerto_<%=huerto.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=huerto.id%>
      </div>
    </div>
  </div>
</div>


<!-- modal que se activa para confirmar el borrar un huerto -->
<div class="modal fade" id="modal_borrar_huerto_<%=huerto.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Seguro que desea borrar el huerto: <%=huerto.nombre%> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>Se borraran todos los datos correspondientes y asociados al huerto</p>
      <%=link_to(button_tag("Borrar Huerto", class: "btn btn-danger"), user_campo_huerto_path(current_user,campo,huerto), method: :delete, remote: true )%>
      </div>
    </div>
  </div>
</div>



<!--para editar las coordenadas de un huerto-->
<div>
  <%=form_for huerto, url: user_campo_huerto_path(current_user,campo,huerto), method: :patch, remote: true, :html => { :id => "formEditandoHuertoFigura_"+String(huerto.id), :class => "formOcultaEditarHuertoFigura" }  do |form| %>

        <!-- Aca ponemos las coordenadas del huerto, estas no seran visibles para el usuario ya que este las selecciono antes, se oculta con css -->
        <%=form.label :coordenadas%>
        <%=form.text_area :coordenadas, id: "coordenadasFormularioEditandoHuertoFigura_"+String(huerto.id)%>

  <%end%> 

</div>


<!-- modal que nos permite editar la info de un huerto (no las coordenadas) -->
<div class="modal fade" id="modal_editar_info_huerto_<%=huerto.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editando huerto: <%=huerto.nombre%> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%=form_for huerto, url: user_campo_huerto_path(current_user,campo,huerto), method: :put, remote: true, :html => { :id => "formEditandoHuertoInformacion_"+String(huerto.id) }  do |form| %>
                                  <%=form.label :nombre%>
                                  <%=form.text_field :nombre, class: "form-control textField"%>

                                  <%=form.label :cultivo%>
                                  <%=form.text_field :cultivo, class: "form-control textField"%>

                                  <%=form.label :variedades%>
                                  <%=form.text_field :variedades, class: "form-control textField"%>

                                  <%=form.label :descripcion%>
                                  <%=form.text_area :descripcion, class: "form-control textField"%>

                                  <%=form.label :clase%>
                                  <%=form.select(:clase, options_for_select([['Verde', 'green'], ['Rojo', "red"],['Amarillo', "yellow"],['Naranjo', "orange"],['Azul', "blue"]]))%>
             <%end%> 
             <%=button_tag("Confirmar", class: "btn btn-success ", id: "botonConfirmarEditarHuertoInformacionFinalFormulario_"+String(huerto.id))%>
      </div>
    </div>
  </div>
</div>


















<!-- end del if afuera del svg-->
<%end%>