<!-- Modal es lo que se usa para crear un nuevo campo-->
<div class="modal fade" id="crearCampoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body" >
             <div class="card editarCampo">
                 <div class="card-header">
                           <strong><h4>Ficha para agregar un Campo</h4></strong>
                 </div>
                 <div class="card-body">
                          <%=form_for @campo, url: user_campos_path(current_user), method: :post, remote: true do |form| %>
                                  <%=form.label :nombre%>
                                  <%=form.text_field :nombre, class: "form-control textField"%>

                                  <%=form.label :propietario%>
                                  <%=form.text_field :propietario, class: "form-control textField"%>

                                  <%=form.label :direccion%>
                                  <%=form.text_field :direccion, class: "form-control textField"%>

                                  <%=form.label :comentarios%>
                                  <%=form.text_area :comentarios, class: "form-control textField"%>
                                  
                                  <%=form.submit("Agregar", class: "btn btn-success ", id: "cancelarCreacion")%>
                          <%end%>    
                          <%=button_tag("Cancelar", class: "btn btn-danger ")%>        
                  </div>
             </div>
      </div>
    
    </div>
  </div>
</div>