<div class="contenedorFondoPlanillaContabilidad">
	<div class="barraArribaPlanillaContabilidad">
      <div id="">
        <h5><strong> Contabilidad campo: <%=@campo.nombre%></strong></h5>
      </div>

      <div class="botonesBarraArribaPlanillaContabilidadMasSeleccionFecha">
            <div><%= "Año: "%></div>
            <div>
                  <select class="custom-select" id="selectAnoContabilidadEERR" data-userid="<%=current_user.id%>" data-campoid="<%=@campo.id%>">
                        
                        <option>2018</option>
                        
                        
                        <option> 2017 </option>
                        
                  </select>     
            </div>
            <div class="contenedorBotonesBarraArribaContabilidad">
                  <%=link_to(button_tag("Indicadores", class: "btn botonAzul botonBarraArribaPlanillaContabilidad" ),new_user_campo_elemento_contable_path(current_user,@campo), method: :get)%>
            </div>
      </div>
    </div>

    <div class="contenedorCuerpoPlanillaContabilidad">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="filaSuperiorPlanillaContabilidad">
          <th class="columnaCuentasPlanillaContabilidad" scope="col">EE.RR.</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Enero</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Febrero</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Marzo</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Abril</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Mayo</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Junio</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Julio</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Agosto</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Septiembre</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Octubre</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Noviembre</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Diciembre</th>
          <th class="columnaDatosPlanillaContabilidad" scope="col">Total</th> 
        </tr>
      </thead>  
      <tbody>


      	<tr class="filaCuentaPrincipalPlanillaContabilidad Ingresos-de-operación">
      		<td class="casillaConFlechaCuentaPrincipal">
      			<div class="tituloCuentaPrincipal">Ingresos de operación</div>
      			<div class="contenedorImagenesFlechas">
      			<%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionCuentaSeleccionada", id: "flechaAbajoIngresosDeOperacion", :data=>{:flechaCuentaEERR => "IngresosDeOperacion".to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>
                        <%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionCuentaSeleccionada",id: "flechaArribaIngresosDeOperacion", :data=>{:flechaCuentaEERR => "IngresosDeOperacion".to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
      			</div>
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td class="casillaDatos">
      			
      		</td>
      		<td  class="casillaDatos">
      			
      		</td>
      		<td  class="casillaDatos">
      			
      		</td>
      	</tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionIngresosDeOperacion Ingresos-de-operación-Venta-de-productos">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Venta de productos
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png", class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Ingresos-de-operación",:cuentaSecundaria => "Venta-de-productos" , :ingresoGastoProbable => "Ingreso", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionIngresosDeOperacion Ingresos-de-operación-Arriendos-a-terceros">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Arriendos a terceros
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png", class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Ingresos-de-operación",:cuentaSecundaria => "Arriendos-a-terceros" , :ingresoGastoProbable => "Ingreso", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionIngresosDeOperacion Ingresos-de-operación-Otros">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png", class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Ingresos-de-operación",:cuentaSecundaria => "Otros" , :ingresoGastoProbable => "Ingreso", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos ">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
      	<tr class="filaCuentaPrincipalPlanillaContabilidad Costos-de-operación">
      		<td class="casillaConFlechaCuentaPrincipal">
      			<div class="tituloCuentaPrincipal">Costos de operación</div>
      			<div class="contenedorImagenesFlechas">
      			<%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionCuentaSeleccionada",id: "flechaAbajoCostosDeOperacion", :data=>{:flechaCuentaEERR => "CostosDeOperacion".to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>
      			<%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionCuentaSeleccionada",id: "flechaArribaCostosDeOperacion", :data=>{:flechaCuentaEERR => "CostosDeOperacion".to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
      			</div>
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>
      	<tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Personal">
      		<td class=" casillaCuentaSecundaria">
      			<div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Personal
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Personal" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Luz">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Luz
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Luz" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Agua">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Agua
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Agua" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Equipos">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Equipos
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Equipos" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                  
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Combustibles">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Combustibles
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Combustibles" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Fertilizantes">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Fertilizantes
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Fertilizantes" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Herbicidas">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Herbicidas
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Herbicidas" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Otros-agroquimicos">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros agroquimicos
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Otros-agroquimicos" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Arriendos-para-operación">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Arriendos para operación
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Arriendos-para-operación" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Transportes">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Transportes
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Transportes" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Servicios-externos">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Servicios externos
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Servicios-externos" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Depreciación">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Depreciación
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Depreciación" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeOperacion Costos-de-operación-Otros-costos-operacionales">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros costos operacionales
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-operación",:cuentaSecundaria => "Otros-costos-operacionales" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
      	<tr class="filaCuentaPrincipalPlanillaContabilidad Costos-de-administración">
                  <td class="casillaConFlechaCuentaPrincipal">
                        <div class="tituloCuentaPrincipal">Costos de administración</div>
                        <div class="contenedorImagenesFlechas">
                        <%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionCuentaSeleccionada",id: "flechaAbajoCostosDeAdministracion", :data=>{:flechaCuentaEERR => "CostosDeAdministracion".to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>
                        <%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionCuentaSeleccionada",id: "flechaArribaCostosDeAdministracion", :data=>{:flechaCuentaEERR => "CostosDeAdministracion".to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeAdministracion Costos-de-administración-Personal-administrativo">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Personal administrativo
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-administración",:cuentaSecundaria => "Personal-administrativo" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeAdministracion Costos-de-administración-Servicios-de-contabilidad">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Servicios de contabilidad
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-administración",:cuentaSecundaria => "Servicios-de-contabilidad" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
             <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeAdministracion Costos-de-administración-Servicios-legales">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Servicios legales
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-administración",:cuentaSecundaria => "Servicios-legales" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionCostosDeAdministracion Costos-de-administración-Otros-costos-de-administración">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros costos de admin.
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Costos-de-administración",:cuentaSecundaria => "Otros-costos-de-administración" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
      	<tr class="filaCuentaPrincipalPlanillaContabilidad filaNegrita Resultado-operacional">
      		<td class="tituloCuentaPrincipal">
      			Resultado operacional
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>

      	<tr class="filaCuentaPrincipalPlanillaContabilidad filaConBordeArribaCuentaPrincipalPlanillaContabilidad Otros-costos-e-ingresos" >
      		<td class="casillaConFlechaCuentaPrincipal">
      			<div class="tituloCuentaPrincipal">Otros costos e ingresos</div>
      			<div class="contenedorImagenesFlechas">
      			<%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionCuentaSeleccionada",id: "flechaAbajoOtrosCostosEIngresos", :data=>{:flechaCuentaEERR => "OtrosCostosEIngresos".to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>
                        <%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionCuentaSeleccionada",id: "flechaArribaOtrosCostosEIngresos", :data=>{:flechaCuentaEERR => "OtrosCostosEIngresos".to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
      			</div>
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionOtrosCostosEIngresos Otros-costos-e-ingresos-Intereses-de-capital">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Intereses de capital
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Otros-costos-e-ingresos",:cuentaSecundaria => "Intereses-de-capital" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionOtrosCostosEIngresos Otros-costos-e-ingresos-Utilidad-por-venta-de-activos">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Util. por venta de activos
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Otros-costos-e-ingresos",:cuentaSecundaria => "Utilidad-por-venta-de-activos" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionOtrosCostosEIngresos Otros-costos-e-ingresos-Seguros">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Seguros
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Otros-costos-e-ingresos",:cuentaSecundaria => "Seguros" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionOtrosCostosEIngresos Otros-costos-e-ingresos-Diferencia-de-cambio">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Diferencia de cambio
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Otros-costos-e-ingresos",:cuentaSecundaria => "Diferencia-de-cambio" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionOtrosCostosEIngresos Otros-costos-e-ingresos-Otros">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Otros-costos-e-ingresos",:cuentaSecundaria => "Otros" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
      	<tr class="filaCuentaPrincipalPlanillaContabilidad filaConBordeArribaCuentaPrincipalPlanillaContabilidad filaNegrita Utilidad-antes-de-impuestos">
      		<td class="tituloCuentaPrincipal">
      			Util. antes de impuestos
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>
            <tr class="filaCuentaPrincipalPlanillaContabilidad filaConBordeArribaCuentaPrincipalPlanillaContabilidad Impuestos" >
                  <td class="casillaConFlechaCuentaPrincipal">
                        <div class="tituloCuentaPrincipal">Impuestos</div>
                        <div class="contenedorImagenesFlechas">
                        <%=image_tag("flechaAbajoCollapse.png", class: "fotoOpcion flechaAbajoMostrarMasInformacionCuentaSeleccionada",id: "flechaAbajoImpuestos", :data=>{:flechaCuentaEERR => "Impuestos".to_s, :toggle => "tooltip", :placement => "top", :title => "Ampliar"})%>
                        <%=image_tag("flechaArribaCollapse.png", class: "fotoOpcion flechaArribaMostrarMenosInformacionCuentaSeleccionada",id: "flechaArribaImpuestos", :data=>{:flechaCuentaEERR => "Impuestos".to_s, :toggle => "tooltip", :placement => "top", :title => "Cerrar"} )%>
                        </div>
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
      	<tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionImpuestos Impuestos-Impuesto-a-utilidad-bruta">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Impuesto a utilidad bruta
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Impuestos",:cuentaSecundaria => "Impuesto-a-utilidad-bruta" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>
            <tr class="filaCuentaSecundariaPlanillaContabilidad subInformacionImpuestos Impuestos-Otros">
                  <td class=" casillaCuentaSecundaria">
                        <div class="contenedorImagenAgregarElementoContableMasTitulo">
                              <div>
                                    Otros
                              </div> 
                              <div>
                                    <%= image_tag("agregar.png",id: "",class: "fotoOpcion imagenAgregarDatoContable",:data=>{ :cuentaPrincipal => "Impuestos",:cuentaSecundaria => "Otros" , :ingresoGastoProbable => "Gasto", :toggle => "tooltip", :placement => "top", :title => "agregar dato"})%>
                              </div>   
                        </div>
                  </td>      
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
            </tr>

      	<tr class="filaCuentaPrincipalPlanillaContabilidad filaConBordeArribaCuentaPrincipalPlanillaContabilidad filaNegrita Utilidad-neta">
      		<td class="tituloCuentaPrincipal">
      			Utilidad neta
      		</td>
      		<td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
                  <td  class="casillaDatos">
                        
                  </td>
      	</tr>
      </tbody>
    </table>
    </div><!-- fin contenedor cuerpo-planilla tabla contabiliad -->

    <div><!-- contenedor modals para agregar datos a la planilla contable -->
          <%=render partial: "agregandoElementoAPlanillaContable", locals: {campo: @campo}%>
    </div>


</div><!-- fin contenedor fondo planilla contabiliad -->