<div class="contenedorFondoPlanillaNewYEdit">
    <%=form_for @elemento_contable, url: user_campo_elemento_contables_path(current_user,@campo), method: :post,:html => { :class => "formPlanillaNewYEdit" } do |form| %>
	    <div class="barraArribaPlanillaNewYEdit">
		   <h5><strong> Creando movimiento contable</strong></h5>
           <%=form.submit("Agregar", class: "btn botonVerde ")%>
	    </div>

	    <div class="bloqueContenedorInformacionPlanillaNewYEdit">
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Datos del movimiento
	    		</div>

	    		<div class="filaInformacionPlanillaNewYEdit">
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Razon del movimiento</strong></label>
                            <%=form.text_field :nombre, class: "form-control agregarInformacionPlanillaNewYEdit", placeholder: "Ej: Pago luz, compra de suministros, etc."%> 
	    				</div>
	    			</div>
	    		</div>
 
	    		<div class="filaInformacionPlanillaNewYEdit">
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Cuenta asociada</strong></label>
                            <%=form.select(:tipo, ["Ingreso","Gasto"],{}, {:class => "form-control agregarInformacionPlanillaNewYEdit"} )%> 
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Fecha</strong></label>
                            <%=form.date_field( :fecha, class: "form-control agregarInformacionPlanillaNewYEdit")%>
	    				</div>
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Entrada o salida</strong></label>
                            <%=form.select(:tipoIngresoEgreso, ["Ingreso","Gasto"],{}, {:class => "form-control agregarInformacionPlanillaNewYEdit"} )%>
	    				</div>
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Monto</strong></label>
                            <%=form.number_field :monto, class: "form-control agregarInformacionPlanillaNewYEdit", in: 0.0..999999999999.0%>
	    				</div>
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Observacion</strong></label>
                            <%=form.text_area :observacion, class: "form-control agregarInformacionPlanillaNewYEdit textArea"%>
	    				    </div>
	    				</div>
	    			</div>
	    		</div>
	    </div>
	    	
	    
	    





     <%end%><!-- fin form --> 
</div><!-- fin contenedor fondo --> 