 <%= form.fields_for :pago_items, @empleado_pago.pago_items.build do |ff| %>




 <!-- ------------------descuento por cargas familiares---------------------  -->
 <tr class="filaMiniListaContenida filaPagoItemHaberNoImponible nested-fields" >
    <%=ff.text_field :haberDescuentoExtra,class: "form-control formEscondido", value: "haberNoImponible"%>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=ff.text_field :item, class: "form-control ", value: "Cargas familiares"%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                <%=ff.number_field :cantidad, class: "form-control inputCantidadItemPago", value: 1%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida e">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                   <%=ff.number_field :valor, class: "form-control inputValorItemPago", value: @empleado.sueldoBaseMensual, step: :any%>
            </div>
        </div>
    </td>
    <td class="columnaInformacionMiniListaContenidaCuatroPorFila">
        <div class="pocaInformacionMiniListaContenida ">
            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                Monto
            </div>
        </div>
    </td>
    <td class="columnaImagenesDerechaMiniListaContenida">
        <div class="pocaInformacionMiniListaContenida " >
            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
                <div class="imagenesDerechaMiniListaContenida">
                    <div class="imagenesDerechaMiniListaContenida">
                    <%=link_to_remove_association(image_tag("deleteRed.png",class: "fotoOpcion imagenDerechaBorrarItemPago" ), ff)%> 
                </div>
            </div>
        </div>
    </td>
</tr>



<%end%>
