<div class="contenedorFondoPlanillaNewYEdit">
    <%=form_for @empleado_pago, url: user_campo_empleado_empleado_pagos_path(current_user,@campo,@empleado), method: :post,:html => { :class => "formPlanillaNewYEdit" } do |form| %>
	    <div class="barraArribaPlanillaNewYEdit">
		   <h5><strong> Pago a: <%=@empleado.nombre%> <%=@empleado.apellidos%></strong></h5>
           <%=form.submit("Agregar", class: "btn botonVerde ")%>
	    </div>

	    <div class="bloqueContenedorInformacionPlanillaNewYEdit">
	        <div class="contenedorDatosDelPago">
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Datos del Pago
	    		</div> 
	    		<div class="filaInformacionPlanillaNewYEdit">
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Motivo</strong></label>
                            <%=form.text_field :motivo, class: "form-control agregarInformacionPlanillaNewYEdit", placeholder: "Ej: Pago mensual, bono, etc."%> 
	    				</div>
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Fecha</strong></label>
                            <%=form.date_field( :fecha, class: "form-control agregarInformacionPlanillaNewYEdit")%>
	    				</div>
	    			</div>
	    			<div class="columnaInformacionTresPorFilaPlanillaNewYEdit">
	    				<div class="contenedorInformacionColumnaPlanillaNewYEdit">
	    					<label><strong>Forma de pago</strong></label>
	    					<%=form.text_field :formaDePago, class: "form-control agregarInformacionPlanillaNewYEdit", placeholder: "Ej: Efectivo, cheque, transferencia, etc."%>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="contenedorHaberesYDescuentos">
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Haberes y Descuentos:
	    		</div>
	    		<div class="contenedorTablaNewPago">
	    			<table class="table table-striped table-bordered tablaPagosHaberesYDescuentos ">
	    				<thead>
                            <tr class="filaSuperiorMiniListaContenida">
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Item</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Cantidad</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Valor</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila">tipo</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila">Monto</th>
                                <th class="tituloColumnaBotonMiniListaContenida columnaImagenesDerechaMiniListaContenida" ><%=link_to(button_tag(image_tag("agregar.png",class: "fotoAgregarItemAEmpleado_pagoDerecha imagenBorrarEmpleado_pago"), class: "btn botonAgregarItemAEmpleado_pagoDerecha"),new_user_campo_empleado_empleado_pago_path(current_user,@campo), method: :get  )%> </th>
                            </tr>
                        </thead>
                        <tbody>
<!-- aca van los items pre definidos de haberes y descuentos --> 
                        	<tr class="filaMiniListaContenida" id="filaEmpleado_pago_<%=@empleado_pago.id%>">
                        		<%= form.fields_for @sueldoBase do |item| %>
                        		    <td class="columnaInformacionMiniListaContenidaCincoPorFila">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>">
                                            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                                                <%=item.text_field :item, class: "form-control agregarInformacionPlanillaNewYEdit", value: "Sueldo Base"%>
                                            </div>
      	                                </div>
                                    </td>
                                    <td class="columnaInformacionMiniListaContenidaCincoPorFila">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>">
                                            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                                                <%=item.number_field :cantidad, class: "form-control agregarInformacionPlanillaNewYEdit"%>
                                            </div>
      	                                </div>
                                    </td>
                                    <td class="columnaInformacionMiniListaContenidaCincoPorFila">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>">
                                            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                                                <%=item.number_field :valor, class: "form-control "%>
                                            </div>
      	                                </div>
                                    </td>
                                    <td class="columnaInformacionMiniListaContenidaCincoPorFila">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>">
                                            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                                                <%=item.select(:haberDescuentoExtra, ["Vigente","Temporero","Desvinculado"],{}, {:class => "form-control "} )%>
                                            </div>
      	                                </div>
                                    </td>
                                    <td class="columnaInformacionMiniListaContenidaCincoPorFila">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>">
                                            <div class="contenedorUnaInformacionPocaInformacionMiniListaContenida">
                                                Monto
                                            </div>
      	                                </div>
                                    </td>
                                
                                    <td class="columnaImagenesDerechaMiniListaContenida">
      	                                <div class="pocaInformacionMiniListaContenida empleado_pagoTablaPocaInformacion_<%=@empleado_pago.id%>" >
                                            <div class="contenedorImagenesYBotonesDerechaMiniListaContenida">
      	   	                                    <div class="imagenesDerechaMiniListaContenida">
                                              
                                                    <%=image_tag("deleteRed.png",class: "fotoOpcion imagenBorrarEmpleado_pago" , :data=>{:id => (@empleado_pago.id).to_s, :toggle => "tooltip", :placement => "top", :title => "Borrar"})%> 
                                                </div>
                                            </div>
      	                                </div>
                                    </td>
                                <%end%>
                            </tr>

 <!-- fin de los items pre definidos de haberes y descuentos --> 


                        	
                        </tbody>
	    			</table>
	    		</div>
	    	</div> 
	    	<div class="contenedorObligaciones">
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Obligaciones:
	    		</div>
	    		<div class="contenedorTablaNewPago">
	    			<table class="table table-striped table-bordered tablaPagosObligaciones ">
	    				<thead>
                            <tr class="filaSuperiorMiniListaContenida">
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Item</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Cantidad</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila" >Valor</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila">tipo</th>
                                <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCincoPorFila">Monto</th>
                                <th class="tituloColumnaBotonMiniListaContenida columnaImagenesDerechaMiniListaContenida" ><%=link_to(button_tag(image_tag("agregar.png",class: "fotoAgregarItemAEmpleado_pagoDerecha imagenBorrarEmpleado_pago"), class: "btn botonAgregarItemAEmpleado_pagoDerecha"),new_user_campo_empleado_empleado_pago_path(current_user,@campo), method: :get  )%> </th>
                            </tr>
                        </thead>
                        <tbody>



                        </tbody>
	    			</table>
	    			
	    		</div>
	    	</div> 
            <div class="contenedorMontosFinales">
            	<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Liquido a pagar:
	    		</div>
	    		<div class="tituloBloqueContenedorInformacionPlanillaNewYEdit">
	    			Monto Total:
	    		</div>  
	    	</div>
 
	    		
	    </div>
	    	
	    
	    





     <%end%><!-- fin form --> 
</div><!-- fin contenedor fondo --> 